 <div class="hero-image">
  <div class="hero-text">
  	<div class="display-1 ManagerOverview text-white">Manager's</div>
	<div class="card-group M-5">
		<div class="card">
	    <div class="card-body">
	      <h5 class="card-title">Abudllah</h5>
	      <p class="card-text">Manager for Fooders</p>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">Mate</h5>
	      <p class="card-text">Taster for Fooders</p>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">Francisco</h5>
	      <p class="card-text">Cooker for Fooders</p>
	    </div>
	  </div>
	  <div class="card">
	    <div class="card-body">
	      <h5 class="card-title">Oliver</h5>
	      <p class="card-text">Delivery man for Fooders</p>
	    </div>
	  </div>
	</div>
  </div>
</div> 