<div class="fluid-container d-flex justify-content-space-around">
	
<div class="card col-lg-4 col-md-6 col-xs-12 ">
  <div class="card-body">
    <h5 class="card-title">Phone Numbers</h5>
    <p class="card-text">Manager: +43-680-555-3535 <br>Taster: +43-699-555-7489 <br>Cooker: +43-676-555-16366<br>Delivery man: +43-676-555-6020</p>
  </div>
</div>
<div class="card col-lg-4 col-md-6 col-xs-12 ">
  <div class="card-body">
    <h5 class="card-title">Emails</h5>
    <p class="card-text">Manager: manager.abdullah@fooders.com <br>Taster: taster.mate@fooders.com <br>Cooker: cooker.francisco@fooders.com<br>Delivery man: delivery.oliver@fooders.com</p>
  </div>
</div>
<div class="card col-lg-4 col-md-6 col-xs-12 ">
  <div class="card-body">
    <h5 class="card-title">Locations</h5>
    <p class="card-text">Kettenbrückengasse 23 (Better)<br>Stuttenheimgasse 18</p>
  </div>
</div>
</div>

